
<!DOCTYPE html>
<html>
<head>
  <title>Create Char (Display LCD 8x5) - Arduino</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/images/favicon.ico" />

  <meta http-equiv="content-language" content="pt-br" />
  <meta name="description" content="Create Char to display Arduino" />
  <meta name="keywords" content="arduino, createChar" />
  <meta name="geo.country" content="br" />
  <meta name="url" content="silveiracamilo.com.br" />
  <meta name="author" content="Camilo da Silveira" />  

  <link href="/app/css/app.css" rel="stylesheet" type="text/css">

  <script src="/app/js/libs/initLoader.js"></script>
</head>

<body ng-app="createchar">

<div id="loader">
  <span id="bar"></span>
</div>
<div id="root"  ng-controller="HomeCtrl">
  <h1>Custom Character Generator<br />for HD44780 LCD Modules</h1>
  <span>Click pixels to generate output.</span>

  <div id="wrapper">
    <div id="pixels">
    <h2>Pixels</h2>
      <div ng-repeat="(fIndex, byte) in bytes">
        <canvas ng-repeat="b in byte" id="pixel-{{fIndex}}-{{b}}" class="pixel off" ng-click="clickToogleByte(fIndex,b)"></canvas>
        <br />
      </div>

      <button id="clear" type="button">Clear</button>
      <button id="invert" type="button">Invert</button>

    </div>

    <div id="code">
      <h2>Output</h2>
        <pre class="output">
        byte customChar[8] = {
          0b00000,
          0b00000,
          0b00000,
          0b00000,
          0b00000,
          0b00000,
          0b00000,
          0b00000
        };
        </pre>
    </div>
  </div>
</div>

<script>
/*
  // Create a 2D array for the custom char
  var customchar = new Array(8);
  for (i=0; i <8; i++){
    customchar[i] = new Array(5);
  }

  function clear(){
    // Clear array
    for (i=0; i <8; i++){
      for (j=0; j<5; j++){
        customchar[i][j] = 0;
      }
    }

    // Reset pixels
    $(".pixel").addClass('off');
    $(".pixel").removeClass('on');
  }

  function togglePixel(pixel){
    // Get row/column of pixel from the ID
    var id = $(pixel).attr('id').split("-");
    var row = id[1];
    var column = id[2];

    // Toggle pixels and update array
    if ( $(pixel).hasClass('off') ){
      $(pixel).addClass('on');
      $(pixel).removeClass('off');
      customchar[row][column] = 1;
    } else {
      $(pixel).addClass('off');
      $(pixel).removeClass('on');
      customchar[row][column] = 0;
    }
  }

  function invert(){
    // Toggle all pixels
    $('.pixel').each(function(index) {
      togglePixel( $(this) );
    });
  }

  function generateOutput(data){
    // Create output
    var output = 'byte customChar[8] = {\n';
    for (i=0; i<8; i++){
      output += '\t0b';
      for (j=0; j<5; j++){
        output += customchar[i][j];
      }
      if (i<7){
        output += ',\n';
      }
    }
    output += '\n};';

    // Update the code display
    $('.output').text(output);
  }


  $(document).ready(function() {
    // Clear/initialise the pixels and array
    clear();

    // Disable selection of pixels (cosmetic)
    $('#pixels').mousedown(function() {
      return false;
    });

    // Bind a click event listener to the clear button
    $('#clear').click(function() {
      clear();
      generateOutput();
    });

    // Bind a click event listener to the invert button
    $('#invert').click(function() {
      invert();
      generateOutput();
    });

    // Bind a click event listener to pixels
    $(".pixel").click(function() {
      // Toggle pixels
      togglePixel( $(this) );

      // Output code
      generateOutput();
    });
  });
*/
</script>

<script src="/app/js/app.js"></script>
</body>
</html>